* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  background: #0f1220;
  color: #eaeaf0;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #22254a;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.subtitle {
  margin: 4px 0 0;
  font-size: 14px;
  color: #b0b3ff;
}

/* .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  overflow: auto;
} */

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 10px;
}

.controls button {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  background: #192077;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.controls button:hover {
  background: #232ca4;
}

.file-input-btn {
  cursor: pointer;
}

.controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.preview {
  flex: 1;
  border: 2px dashed #2a2e6a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #14173a;
}

.preview-placeholder {
  color: #8a8dff;
  font-size: 16px;
}

#previewImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.status {
  padding: 12px 20px;
  border-top: 1px solid #22254a;
  font-size: 13px;
  color: #b0b3ff;
}

#previewCanvas {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

/* .sidebar {
  width: 140px;
  background: #2a2c36;
  overflow-y: auto;
  padding: 8px;
  box-sizing: border-box;
} */

.sidebar {
  width: 140px;
  background: #2a2c36;
  padding: 8px;
  box-sizing: border-box;

  overflow-y: auto;
}

.sidebar img {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.7;
  transition: 0.2s ease;
}

.sidebar img:hover {
  opacity: 1;
}

.sidebar img.active {
  outline: 2px solid #4f5dff;
  opacity: 1;
}

.footer {
  padding: 8px;
  font-size: 13px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #2a2c36;
  padding: 24px;
  border-radius: 8px;
  width: 320px;
  color: white;
}

.modal-content h2 {
  margin-top: 0;
}

.option {
  margin-bottom: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
